@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* System Colors */
  --background: #ffffff;
  --foreground: #171717;

  /* Brand Colors */
  --brand-beige: #e6d5c3;
  --brand-brown: #4a3c31;
  --brand-gold: #cfa76e;

  /* Action Colors */
  --action-primary: #e67e22;
  --action-secondary: #7e5c3b;
  --action-accent: #d4b483;

  /* Force light mode only */
  color-scheme: light only;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slow-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-slow-fade {
  animation: slow-fade 3s ease-in;
}
